.postForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 12px;
}

.textareaForm {
    width: 70%;
    height: 100px;

    font-size: 24px;

    margin: 5px;
    padding: 18px;
}

.buttonSubmit {
    width: 160px;
    height: 60px;

    background-color: var(--button-color);
    color: var(--color);
    border-radius: 8px;

    font-size: 24px;
}
