.messageInputWindow {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    width: 100%;
}

.inputForm {
    width: 60%;
    height: 100px;

    padding: 8px;

    font-size: 24px;

    background-color: var(--input-background-color);
    color: var(--input-text-color);
    border-radius: 8px;
}

.buttonSubmit {
    width: 160px;
    height: 60px;

    background-color: var(--background-color-content);
    color: var(--color);
    border-radius: 8px;

    font-size: 24px;

    transition: 0.2s;
}

.buttonSubmit:hover {
    background-color: var(--button-color);
    transition: 0.2s;
}
