.wrapper {
    grid-area: main;
    display: flex;
    flex-direction: column;

    background-color: var(--background-color-content);
}

.buttonsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

.buttonPageChange {
    height: 50px;
    width: 100px;
    margin: 0 14px;
    padding: 4px;

    text-align: center;
    font-size: 20px;

    background-color: var(--button-color);
    color: var(--color);
    border-radius: 8px;
}

.buttonPageChange:disabled {
    color: gray;
}

.usersList {
    display: flex;
    flex-direction: column;
}
