.wrapper{
    display: flex;
    flex-direction: column;
}

.users{
    display: flex;
    flex-direction: column;
}

.buttonsPageChange{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

.buttonPageChange{
    height: 40px;
    width: 100px;
    margin: 0 14px;
    padding: 1px;
    border: 1px solid black;

    text-align: center;
    font-size: 20px;
}

.activePage{
    font-size: 20px;
    height: 30px;
    padding: 1px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
}
