.wrapper{
    display: flex;
    flex-direction: column;
}

.users{
    display: flex;
    flex-direction: column;
}

.usersPage{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.userPage{
    font-size: 20px;
    height: 30px;
    padding: 1px;
    border: 1px solid black;
    text-align: center;
}

.activePage{
    font-size: 20px;
    height: 30px;
    padding: 1px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
}
