.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 220px;

    border-bottom: 1px solid #1d1e21;
    margin: 10px 20px;

    font-size: 20px;
}

.userLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #2e3136;

    margin: 10px;
    padding: 5px;
}

.photo{
    width: 180px;
    text-align: center;
}

.userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.userName{
    font-size: 30px;
    margin: 10px;
}

.wrapperForButton{
    width: 120px;

    margin: 10px;
    padding: 5px;

    border: 1px solid #2e3136;
    text-align: center;
}

.followButton{
    font-size: 24px;
    background-color: #fbfbfb;

    padding: 0;
    margin: 0;
}

.unfollowButton{
    font-size: 20px;
    background-color: #fbfbfb;

    padding: 0;
    margin: 0;
}
