.inputsForm {
    display: flex;
    flex-direction: column;

    padding: 0 12px;

    color: var(--color);
}

.inputWrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.buttonSubmit {
    width: 160px;
    height: 60px;

    font-size: 24px;

    color: var(--color);
    background-color: var(--button-color);
    border-radius: 8px;
}

.label {
    width: 40%;

    font-size: 18px;
}

.inputForm {
    width: 300px;
    height: 40px;

    margin: 8px;
    padding: 8px;

    font-size: 18px;
}
