.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 5px 20px;
}

.login {
    font-size: 30px;
    color: var(--color);
}

.headerImage {
    width: 80px;
    padding: 10px;
}

.logout {
    font-size: 18px;
    color: var(--color);

    background-color: var(--background-color);
}
