.wrapper {
    display: flex;
    flex-direction: row;

    margin: 24px;
}

.ul {
    display: flex;
    flex-direction: column;

    margin: 0 20px;
}

.statusInput {
    font-size: 18px;
    width: 80%;
    padding: 8px;
}

.li {
    font-size: 24px;
}

.li:first-child {
    margin: 0 0 30px 0;
}

.inputLi {
    width: 300px;
    height: 30px;
}

.profileEdit {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.iconSettings {
    width: 20px;
    height: 20px;

    margin: 5px;
}

.buttonEdit {
    background-color: var(--button-color);
    color: var(--color);
}
