.navbarWrapper {
    display: block;
    overflow: hidden;
    position: relative;
    float: left;

    width: 200px;
    height: 100%;

    top: 150px;
}

.ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-size: 30px;
    color: var(--color);

    background-color: var(--background-color-main);
}

.li {
    margin: 20px 0;
}

.li a {
    color: var(--color);
}

.li a:active {
    color: #fdc906;
}

.li a:hover {
    color: red;
}
