.ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-width: 200px;

    font-size: 30px;
    color: var(--color);

    background-color: var(--background-color-main);
    grid-area: navbar;
}

.li {
    margin: 20px 0;
}

.li a {
    color: var(--color);
}

.li a:active {
    color: #fdc906;
}

.li a:hover {
    color: red;
}
