.form{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.inputForm{
    width: 260px;
    height: 40px;

    margin: 5px;

    border: 1px solid #1d1e21;
}

.buttonSubmit{
    width: 100px;
    height: 40px;

    border: 1px solid #1d1e21;

    font-size: 24px;
}
