.form{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.inputForm{
    width: 260px;
    height: 40px;

    padding: 4px;
    margin: 5px;
}

.buttonSubmit{
    width: 100px;
    height: 40px;

    border-radius: 8px;

    background-color: var(--button-color);
    color: var(--color);
    font-size: 24px;
}
